
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.container{
    margin: 0 auto;
    max-width: 1200px;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.subtitle{
    color: $subtitle-color;
    font-weight: $subtitle-weight;
    font-size: $font-size-tittle;
    text-transform: uppercase;
}
.subtitle--grey{
    color: $subtitle-color; 
    padding: 47px 0px 24px;

}
.subtitle--white{
    color: $footer-color;
    padding: 66px 0px 22px;
    
}
@media screen and (max-width:$tab){
    .wrapper{
        margin: 0px 10px;
    }
}
@media screen and (max-width:480px){
    .subtitle--grey{
        padding: 0px 0px 23px ;
    
    }
}