// .non-scroll{
//     overflow: hidden;

// }







@media screen and (max-width:$mobile) {
  .burher-wrapper{
    display: flex;
    justify-content: flex-end;
  }
  #menu-toggle{
    display: flex;
    width: 30px;
    height: 30px;
    background-color:#000000;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position:relative;
    margin: 20px;
    span{
        display: block;
        background-color: #ffffff;
        border-radius: 2px;
        transition: 0.25s ease-in-out;
    }

.open #hamburger span:nth-child(1){
  -webkit-transform: rotate(-45 deg) translate(-4px,4px);  
  transform:rotate(-45 deg) translate(-4px,4px) ;  
}
.open #hamburger span:nth-child(2){
    opacity: 0;
  }
  .open #hamburger span:nth-child(3){
    -webkit-transform: rotate(45 deg) translate(0px,-2px);  
    transform:rotate(45 deg) translate(0px,-2px) ;  
  }
}
#menu-toggle #hamburger span{
width: 19px;
height: 2px;
position:relative;
top: 0px;
right:0px;
margin: 4px 0px;
}
  .overlay-scroll{
width: 100%;
height: 100%;
overflow: hidden;
display: flex;
overflow-y: scroll;
flex-direction: column;


}  
.overlay-top{
  
    position: fixed;
    background-color: #F5F5F5;
    top:50px;
    right: 30px;
    max-height: 182px;
    max-width: 208px;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    display: none;
    align-items: center;
    flex-direction: column;
    
   
}
 .open{
        z-index: 5;
        transform: translateX(0);
        width: 100%;
        display: flex;
    
    }
  }