.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 68px;
    list-style: none;
    &-link{
      font-weight: $font-weight;
      font-size: 11px; 
      color: #4E4E4E; 
    }
    // li{
    //     margin-left: 40px;
    // }
    // li:first-child{
    //     margin-left: 0px;
    // }
    @media screen and (max-width:$mobile) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px 15px;
        gap: 7px;
        margin: 0px;
    }
}
.link-1{
  color: #57A4A4;
}
.main-image{
  width: 100%;
}
