.recent-post{
    margin-top:66px;
    margin-bottom: 69px;
    &-list{
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr); 
      gap: 32px;
    }
    @media screen and (max-width:768px){
        &-list{ 
             display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
        
    } 
    &-item{
        display: flex;
        gap:21px ;
    }
    h4{
    font-size: $font-size-tittle;
    font-weight: $subtitle-weight;
    padding: 0px 0px 15px;
    }
    &-photography{
   font-size: $subtitle-size;
        font-weight:$font-weight ;
        padding: 0px 0px 13px;
        color: #7C7C7C;
    }
    &-etiam{
        font-size: $font-size;
        font-weight:$font-weight;
        line-height: 26px;
    }
}
.recent-post-item>img{
    width: 100%;
}
@media screen and (max-width:480px){
    .recent-post-item:last-child{
        display: none;
    }
    .recent-post-etiam{
        display: none;
    }
    .recent-post-item{
        
        display: flex;
        flex-direction: column;
    }
    .recent-post-item>img{
        width: 40%;
    }
}